@charset "utf-8";
$red: #ff502f;
$black: #000;
$white: #fff;
$light-gray: #ccc;
$gray:#808080;
$light-white: #f5f5f5;
$brawn: #4d4d4d;
$deepgreen: #004d61;
$light_yellow: #fffeed;
$font_color: #333;
$green: #27904d;
$light_green: #00CC66;
$pink: #f5d6e6;
$selected_color: #eee;
// grid系
$grid_background: #fffeed;
$grid_hover_background: #f2fde9 !important;
$grid_selected_background: #fde9e8 !important;
$grid_selected_color: #333 !important;
$grid_Header_background_Blue: #80adbf !important;
$grid_Total_Header_Background: #fbebd6;
$grid_Border_Color:#646d79;

//画面部品系
$view_Title_background : #eee;
$view_Title_font_color : white;
$view_Title_background_Main : #276bc5;
$view_Title_font_color_Main : white;
$view_Title_background_Blue : #e4effd;
$view_Title_background_Blue_Dark : #173f74;
$view_Title_font_color_Blue : #173f74;
$view_Title_background_Green : #eefeef;
$view_Title_background_Green_Dark : #c7facb;
$view_Title_font_color_Green : #0f4a13;
$view_Title_background_Orange_Dark : #f9ddb7;
$view_Title_background_Orange : #fbebd6;
$view_Title_font_color_Orange : #781e18;
$view_Title_font_color_Yellow : #fafcdc;
$view_Title_background_Red : #fde8f1;
$view_Title_background_Gray:#646d79;
$view_Title_background_Red : #fde8f1;
$view_Hosoku_background:lightgoldenrodyellow;
$view_Data_Read_background : #fffeed;
$view_Data_Input_background :aliceblue;
$tab_background :#187b51;
$view_Title_background_none:transparent;
$view_Border_Blue : #0000aa;
$view_Row_background : #d0e2fb;
$view_Under18_Mark:#197d20;
$view_Input_Disabled_background:#eceef0;

// フォントカラー
$font_color_saturday : #3c89ee;
$font_color_sunday : #ef5347;

// チェックボックスチェック済みフォントカラー
$checkbox_color_check: #c93328;

// 必須マークカラー
$Hissu_Color: #c93328;

$btn_background :#f0f0f0;

$default_fontsize: 14px;
$cell_fontsize: 12px;
$dialog_title_fontsize: 14px;
// ユーザー一覧開閉の秒数
$seconds: 0s;

// 週間予定の時間の色
$time_color_header:#ccc;
$time_color_aqua:#e3fbff;
$time_color_yellow:#ffffd9;
$time_color_skin:#ffeddd;
$time_color_grey:#e4e4e4;
$time_color_purple:#e3e3fb;